@font-face {
    font-family: "Ubuntu";
    src: url("assets/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("assets/Ubuntu-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu";
    src: url("assets/Ubuntu-Bold.ttf") format("truetype");
    font-weight: bold;
}

:root {
    --font: "Ubuntu", sans-serif;
    --text: #eeeeee;

    /* --content-width: 42rem; */
    /* --card-width: 16rem; */

    --card-1-color: #451b92;
    --card-1-accent: #7d25f060;
    --card-2-color: #0b7a46;
    --card-2-accent: #18bd7040;
    --card-3-color: #222997;
    --card-3-accent: #317fc940;
    --card-4-color: #101010;
    --card-4-accent: #80808020;

    --link-color: #70deff;
    --link-visited-color: #bf71ff;

    --input-bg: #00000040;

    --blueprint-repeat-at: 36px;
    --blueprint-stripe-width: 3px;
    --blueprint-angle: 10deg;
    --blueprint-angle2: calc(var(--blueprint-angle) + 90deg);

    --blueprint-stop: calc(var(--blueprint-repeat-at) - var(--blueprint-stripe-width));

    --bg-scale: 64px;

    --positive-indicator: #008612;
    --negative-indicator: #860900;
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 1.5rem;
}

html, body {
    margin: 0;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }

    to {
        background-position:
            calc(var(--bg-scale)) calc(var(--bg-scale) * 2),
            calc(var(--bg-scale) * 2) calc(var(--bg-scale) * -1);
    }
}

body {
    transition: padding 0.25s ease-in-out, gap 0.25s ease-in-out;

    background-color: var(--background1);
    color: var(--text);
    font-family: var(--font);
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 0;

    align-items: center;

    background-image: url('./assets/background1.png'), url('./assets/background2.png');
    image-rendering: pixelated;
    background-attachment: fixed, fixed;
    background-size: var(--bg-scale), var(--bg-scale);

    gap: 0.5rem;

    & .standalone-nav {
        width: 100%;

        & ul {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            gap: 0.5rem;
            margin: 0;
            padding: 0;
        }

        & a {
            transition: border-radius 0.125s ease-in-out;

            font-size: 1.1rem;
            text-decoration: none;
            color: unset;
            display: block;
            padding: 0.5rem 0.8rem;

            border-radius: 0.5rem;
            background-color: var(--background2);
        }
    }
}

a {
    color: var(--link-color);
}
a:visited {
    color: var(--link-visited-color);
}

@media screen and (prefers-reduced-motion: no-preference) {
    body {
        animation: animate-bg 10s linear infinite;
    }
}

.width-constrained {
    width: 100%;
    max-width: var(--content-width);
}

main {
    transition: border-radius 0.25s ease-in-out, max-width 0.25s ease-in-out;
    background-color: var(--background2);

    padding: 1rem;
    border-radius: 1rem;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
}

h1, h2 {
    font-weight: bold;
}

a.card {
    text-decoration: none;
    color: unset;
}

a.card:hover {
    transform: scale(1.025);
}

.card {
    transition: transform 0.125s ease-in-out;

    padding: 1rem;
    border-radius: 0.5rem;

    position: relative;
    min-height: 10rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    background-color: var(--card-default);

    & p {
        margin: 0;
    }

    & .-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    & h1, h2, h3, h4 {
        margin: 0;
    }
}

.card.card-minor {
    min-height: unset;

    border: 2px solid #ffffff20;
    padding: calc(1rem - 2px);
}

.contents {
    border: 2px solid #ffffff20;
    border-radius: 0.5rem;
    overflow: hidden;
    & a {
        transition: background-color 0.125s ease-in-out;
        
        color: unset;
        display: block;
        padding: 0.5rem calc(1rem - 2px);
        background-color: #ffffff20;

        &:hover, &:focus {
            background-color: #ffffff40;
        }
    }

    & > ul {
        padding: 0;
        margin: 0;
    }
    & li.-virtual {
        display: block;
        padding: 0.5rem calc(1rem - 2px);
    }

    & h1, h2, h3, h4 {
        margin: 0;
    }
}

.gallery {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 1rem 0;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    gap: 1rem;
    margin: 1rem 0 0 0;
}

.cards .card {
    flex-basis: var(--card-width);
    flex-grow: 1;
}

.card-1 {
    background-color: var(--card-1-color);
    background-image: 
        repeating-radial-gradient(circle at 0 0, transparent 0, transparent var(--blueprint-stop), var(--card-1-accent) var(--blueprint-stop), var(--card-1-accent) var(--blueprint-repeat-at)),
        repeating-radial-gradient(circle at 0 100%, transparent 0, transparent var(--blueprint-stop), var(--card-1-accent) var(--blueprint-stop), var(--card-1-accent) var(--blueprint-repeat-at));
}

.card-2 {
    background-color: var(--card-2-color);
    background-image: 
        repeating-radial-gradient(circle at 0 0, transparent 0, transparent var(--blueprint-stop), var(--card-2-accent) var(--blueprint-stop), var(--card-2-accent) var(--blueprint-repeat-at)),
        repeating-linear-gradient(var(--blueprint-angle2), transparent 0, transparent var(--blueprint-stop), var(--card-2-accent) var(--blueprint-stop), var(--card-2-accent) var(--blueprint-repeat-at));
}

.card-3 {
    background-color: var(--card-3-color);
    background-image: 
        repeating-radial-gradient(circle at 0 100%, transparent 0, transparent var(--blueprint-stop), var(--card-3-accent) var(--blueprint-stop), var(--card-3-accent) var(--blueprint-repeat-at)),
        repeating-linear-gradient(var(--blueprint-angle), transparent 0, transparent var(--blueprint-stop), var(--card-3-accent) var(--blueprint-stop), var(--card-3-accent) var(--blueprint-repeat-at));

}

.card-4 {
    background-color: var(--card-4-color);
    background-image: 
        repeating-linear-gradient(var(--blueprint-angle2), transparent 0, transparent var(--blueprint-stop), var(--card-4-accent) var(--blueprint-stop), var(--card-4-accent) var(--blueprint-repeat-at)),
        repeating-linear-gradient(var(--blueprint-angle), transparent 0, transparent var(--blueprint-stop), var(--card-4-accent) var(--blueprint-stop), var(--card-4-accent) var(--blueprint-repeat-at));
}

.policy-md {
    font-style: italic;
}

section.tool {
    padding: calc(1rem - 2px);
    background-color: var(--background3);
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 2px solid var(--background3);
    overflow: hidden;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.callout {
    padding: calc(1rem - 2px);
    margin: 1rem 0;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--input-bg);
    color: var(--text);
    font-family: var(--font);
    font-size: 1.025rem;

    &::placeholder {
        opacity: 50%;
        color: var(--text);
    }

    &[type="submit"], &[type="button"] {
        font-weight: bold;
    }
}