:root {
    --background1: #100820;
    --background2: #201040d0;

    --content-width: 42rem;
    --card-width: 16rem;
}

@media screen and (max-width: 48rem) {
    body {
        padding: 0;
        gap: 0;
    }
    main {
        border-radius: 0;
    }
    body .standalone-nav a {
        border-radius: 0;
    }
    .width-contrained {
        max-width: 100%;
    }
}

.cards.comm-cards {
    & > .card {
        padding: 0;
        overflow: hidden;

        /* by default... */
        & > h2 {
            padding: 0 1rem;
            margin-bottom: 0.5rem;
        }

        &.-no-stripe > h2 {
            margin-bottom: 1rem;
        }

        /* the stripe */
        & > .-stripe {
            padding: 0.5rem 1rem;
            background-color: #202020;
            font-weight: bold;
        }
    }

    .-stripe.-good {
        background-color: var(--positive-indicator);
    }

    .-stripe.-bad {
        background-color: var(--negative-indicator);
    }
}